* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  background: #000;

  font-family: sans-serif;
}

.App {
  max-width: 1000px;
  width: 90%;
  margin: 5vh auto;
  padding: 3%;
  border: 1px solid #ffc107;
  min-height: 60vh;
  color: #ffc107;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 200px;
  height: 100px;
  background-image: url('./assets/star-wars-4.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.no_movie {
  margin-top: 50px;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
}

.no_movie img {
  height: 100%;
}
